
<web-app version="3.0">


    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>ua.training.controller.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.training.controller.filters.EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>ua.training.controller.filters.AccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            ua.training.controller.listener.SessionListener
        </listener-class>
    </listener>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/pages/errors/error.jsp</location>
    </error-page>


</web-app>
